/******************************************* Business **************************************************/

.resume {
    border: none;
    max-width: 50vw;
    width: 800px;
    height: 1250px;
}

.business-card {
    display: grid;
    grid-template: 
    "a b" auto/50vw 50vw;
}

.business-description{
    margin: 50px 20px;
    font-size: x-large;
}

.business-resume-container{
    text-align: center;
}

.business-preface{
    text-align: center;
    font-size: large;
}

.resume-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width:1000px){
    .resume {
        max-width: 100vh;
    }
    .business-card{
        display: block;
    }
    .business-description{
        font-size: larger;
        text-align: center;
        margin: 0 20px;
    }
}