button {
    background-color: green;
    color: white;
    border-color: darkgreen;
    border-radius: 4px;
    margin-left: 30px;
    padding-left: 10px; padding-right: 10px;
}

button:hover {
    background-color: lightgreen;
    color: black;
    cursor: pointer;
}

header {
    text-align: left;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.616);
}

/* Footer at the bottom of the page */
body {
    background-color: seagreen;
    color: rgb(1, 63, 38);
    text-align: center;
    min-height: 100%; 
    position: relative;
}

html { height: 98%; }

.footer {
    position: absolute;
    bottom: 0; left: 0; right: 0;
}

/* Personal Styling */

.card {
    background-color: lightgreen;
    color: darkgreen;
    border: solid;
    border-width: 3px;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.616)
}

.bar {
    padding-top: 10px;
    padding-bottom: 3px;
    display: block;
    position: sticky;
    top: 0;
    background-color: seagreen;
    border-bottom: 2px solid;
    margin-left: -10px;
    margin-right: -10px;
}

.icon {
    height: 55px;
    right: 10px; top: 5px;
    position: absolute;
}
.icon:hover {
    cursor: pointer;
}

.darkMode {
    background-color: rgb(69, 68, 68);
    color: white;
    border-color: purple;
}

.darkModecard {
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.616);
    background-color: plum;
    border: solid;
    border-color: purple;
    color: black;
    border-width: 3px;
    border-radius: 10px;
}

.darkModeButtons {
    background-color: purple;
    border-color: rgb(74, 1, 74);
}

.darkModeButtons:hover {
    background-color: plum;
}

.darkModeLink {
    color: yellow;
}