.container {
    display: flex;
    width: 100%;
}

.container img {
    max-width: 70%;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    margin: 0 auto;
}

body {
    background-color: seagreen;
    color: rgb(1, 63, 38);
    min-height: 100%; 
    position: relative;
}

/* Footer at the bottom of the page */

html { height: 98%; }

.footer {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    text-align: center;
}


/* Personal Styling */
.card {
    text-align: center;
    background-color: lightgreen;
    color: darkgreen;
    border: solid;
    border-width: 3px;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.616)
}

/* Header */
.bar {
    display: grid;
    width: 100%;
}

.title {
    margin: 0 auto;
    color: inherit;
    text-decoration: inherit;
    font-family: cursive;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.616);
    margin-bottom: 10px;
    font-size: 120%;
}

.icon {
    margin-left: auto;
    height: 45px;
    position: static;
    top: 5px;
    right: 5px;
    position: absolute;

}

.icon:hover {
    cursor: pointer;
}

.menu {
    margin: 0 auto;
    justify-self: center;
    width: 100%;
    align-self: flex-end;
    margin-bottom: .5%;
    justify-content: center;
    gap: 3%;
    display: flex;
}

.menu button {
    background-color: green;
    color: white;
    border-color: darkgreen;
    border-radius: 4px;
}

.menu button:hover {
    background-color: lightgreen;
    color: black;
    cursor: pointer;
}

/* Business */
.resume {
    border: none;
    width: 800px;
    height: 1000px;
    margin: 0 auto;
}


/* Gallary */

.gallary {
    width: 100%;
}

.gallary-inner {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
    
}

.flip-card img{
    height: 100%;
    border-radius: 10px;
}

.flip-card {
    position: relative;
    background-color: transparent;
    height: 300px;
    width: 225px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 10px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    box-shadow: 3px 3px 10px black;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    border-radius: 10px;
    font-family:'Courier New', Courier, monospace;
    background-color: seagreen;
    color: white;
    transform: rotateY(180deg);
  }

  .flip-card-back p {
    position: absolute;
    top: 100px;
    width: 100%
  }

/* DarkMode */
.darkMode {
    background-color: rgb(69, 68, 68);
    color: white;
    border-color: purple;
}

.darkMode .card {
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.616);
    background-color: plum;
    border: solid;
    border-color: purple;
    color: black;
    border-width: 3px;
    border-radius: 10px;
}

.darkMode button {
    background-color: purple;
    border-color: rgb(74, 1, 74);
}

.darkMode button:hover {
    background-color: plum;
}

.darkMode footer a:link {
    color: yellow;
}

.darkMode footer a {
    color: pink;
}

.darkMode .card a:link{
    color: blue;
}

.darkMode .card a {
    color: purple;
}

.darkMode .flip-card-back {
    background-color: rgb(69, 68, 68);
}