button {
    background-color: green;
    color: white;
    border-color: darkgreen;
    border-radius: 4px;
    margin-left: 30px;
    padding-left: 10px; padding-right: 10px;
}

button:hover {
    background-color: lightgreen;
    color: black;
    cursor: pointer;
}

header {
    text-align: left;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.616);
}


.container {
    display: flex;
    width: 100%;
}

.container img {
    max-width: 70%;
    border-radius: 10px;
    box-shadow: 3px 3px 10px black;
    margin: 0 auto;
}

/* Footer at the bottom of the page */
body {
    background-color: seagreen;
    color: rgb(1, 63, 38);
    text-align: center;
    min-height: 100%; 
    position: relative;
}

html { height: 98%; }

.footer {
    position: absolute;
    bottom: 0; left: 0; right: 0;
}


/* Personal Styling */

.card {
    background-color: lightgreen;
    color: darkgreen;
    border: solid;
    border-width: 3px;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.616)
}

.bar {
    padding-top: 10px;
    padding-bottom: 3px;
    display: block;
    top: 0;
    margin-left: -10px;
    margin-right: -10px;
}

.icon {
    height: 55px;
    right: 10px; top: 5px;
    position: absolute;
}
.icon:hover {
    cursor: pointer;
}

.resume {
    border: none;
    width: 800px;
    height: 1000px;
    margin: 0 auto;
}


/* Gallary */

.gallary {
    width: 100%;
}

.gallary-inner {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
    
}

.flip-card img{
    height: 100%;
    border-radius: 10px;
}

.flip-card {
    position: relative;
    background-color: transparent;
    height: 300px;
    width: 225px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 10px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    box-shadow: 3px 3px 10px black;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    border-radius: 10px;
    font-family:'Courier New', Courier, monospace;
    background-color: seagreen;
    color: white;
    transform: rotateY(180deg);
  }

  .flip-card-back p {
    position: absolute;
    top: 100px;
    width: 100%
  }

/* DarkMode */
.darkMode {
    background-color: rgb(69, 68, 68);
    color: white;
    border-color: purple;
}

.darkMode .card {
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.616);
    background-color: plum;
    border: solid;
    border-color: purple;
    color: black;
    border-width: 3px;
    border-radius: 10px;
}

.darkMode button {
    background-color: purple;
    border-color: rgb(74, 1, 74);
}

.darkMode button:hover {
    background-color: plum;
}

.darkMode footer a:link {
    color: yellow;
}

.darkMode footer a {
    color: pink;
}

.darkMode a:link{
    color: blue;
}

.darkMode a {
    color: purple;
}

.darkMode .flip-card-back {
    background-color: rgb(69, 68, 68);
}